{#
/**
 * @file
 * Display a node in the CTA view mode.
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  node.isPromoted() ? 'node--promoted',
  node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  'clearfix',
  'cta',
]
%}

{{ attach_library('reboot/node.cta') }}

<div{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>
    {{ content }}

    {% include '@reboot/components/button/button.html.twig' with {
      text: content.field_call_to_action_link.0['#title'],
      url: content.field_call_to_action_link.0['#url'],
      onClick: 'alert("Hi!")',
    } only %}

  </div>
</div>
